.cache
.env
**/*/package-lock.json
apps/static/public
build
dist
docs
generated
lib
output
noodl.yml
node_modules
output
public/admin
public/aitmed
server
typedoc
apps/web/public/admin
apps/web/public/aitmed
apps/web/public/search
apps/web/public/testpage
.idea/*
deployProd.sh
