* {
  padding: 0;
  margin: 0;
  /* border-width: 0 ; */
}

html {
  -webkit-text-size-adjust: none !important;
  /* -ms-touch-action: none !important; */
  /* touch-action: none !important; Prevents user scaling */
  /* font-size: 62.5%; */
}

input::-ms-clear,
input::-ms-reveal {
  display: none;
}

input::-webkit-input-placeholder { /* WebKit browsers */
  color: #c1c1c1 !important;
  }
  input::-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #c1c1c1 !important;

  }
  input::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #c1c1c1 !important;

  }
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none !important;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow-x: auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* -ms-touch-action: none !important; */
  /* touch-action: none !important; */
  -webkit-text-size-adjust: none !important;
}

button {
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

input::placeholder {
  opacity: 1;
}
textarea::-webkit-input-placeholder { /* WebKit browsers */
  color: #c1c1c1;
  }
  textarea:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #c1c1c1;
  }
  textarea::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #c1c1c1;

  }

  input,textarea{
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  }
.actions button,
input,
select {
  flex-grow: 1;
}
input,textarea{
  font-size: 14px;
}
iframe.ecosdoc {
  /* width: 100%;
  height: 100%;
  border: none; */
}

.ecosdoc-image {
  /* width: 100%; */
  /* height: 100%; */
}

iframe.ecosdoc-text {
}

iframe.ecosdoc-text-title {
}

iframe.ecosdoc-text-body {
}

.fc-col-header,
.fc-timegrid-body,
.fc-timegrid-body table,
.fc-timegrid-body colgroup,
.fc-timegrid-body .fc-timegrid-slot {
  width: 100% !important;
}

video::-webkit-media-controls-fullscreen-button {
  display: none;
}

div.pluginHead,
div.pluginBodyTop,
div.pluginBodyTail {
  position: absolute;
  visibility: hidden;
}

.global {
  z-index: 1500 !important;
}

.page {
  overflow-y: auto !important;
  border: none;
}

.grid-lines {
}

.noodl-onclick-disabled {
  opacity: 1;
  pointer-events: none;
  cursor: none;
}

/*
  NOODL COMPONENTS (Currently experimenting)
*/

.scroll-view {
  /* position: absolute !important; */
  /* align-items: flex-start !important; */
  overflow-y: auto !important;
}
.scroll-view::-webkit-scrollbar {
  /* hide scrollBar for scrollView */
  display: none;
}
ul::-webkit-scrollbar {
  /* hide scrollBar for scrollView */
  display: none;
}
.text-board {
  /* display: block !important; */
  overflow-y: auto;
}

.popup {
  /* visibility: hidden; */
}

textarea {
  /* Fixed size */
  resize: none;
}
textarea::-webkit-scrollbar{
  display: none;
}
.popup-global {
  border: 1px solid magenta;
  /* position: fixed; */
  /* top: 10%;
  padding: 40px 50px;
  border-radius: 8px;
  background-color: white; */
  z-index: 1000;
  /* width: 400px;
  min-height: 100px; */
  display: none;
  /* left: 50%; */
  /* margin-left: -200px; */
  /* max-height: 80%; */
  box-sizing: border-box;
}
#reader>video{
  /* width: 100%;
  height: 100%;
  object-fit: fill; */
}
@keyframes spinner-line-fade-more {
  0%,
  100% {
    opacity: 0; /* minimum opacity */
  }
  1% {
    opacity: 1;
  }
}

@keyframes spinner-line-fade-quick {
  0%,
  39%,
  100% {
    opacity: 0.25; /* minimum opacity */
  }
  40% {
    opacity: 1;
  }
}

@keyframes spinner-line-fade-default {
  0%,
  100% {
    opacity: 0.22; /* minimum opacity */
  }
  1% {
    opacity: 1;
  }
}

@keyframes spinner-line-shrink {
  0%,
  25%,
  100% {
    /* minimum scale and opacity */
    transform: scale(0.5);
    opacity: 0.25;
  }
  26% {
    transform: scale(1);
    opacity: 1;
  }
}
img:not([src]) {
  opacity: 0;
}
.search-contrainer {
  box-sizing: border-box;
  border: 1.5px solid rgb(41, 136, 230);
  padding:0 12px;
  border-radius: 4px;
  position: absolute;
  outline: none;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-searchImage {
    max-width: 16px;
    outline: none;
    object-fit: contain;
}

.search-searchCancelImage {
    max-width: 16px;
    cursor: pointer;
    outline: none;
    object-fit: contain;
    visibility: hidden;
}

.search-searchInput{
    border: none;
    padding-left: 12px;
    box-sizing: border-box;
    cursor: pointer;
    outline: none;
    flex: 1;
    font-size: inherit;
}

@media screen and (max-width: 768px) {
  div[data-ux='mailTopTag']{
    justify-content: left !important;
    padding-left: 15px !important;
  }
  
}

.chat-toast-contrainer {
  --radius: 5px;
  --stack-gap: 20px;
  --safe-area-gap: env(safe-area-inset-bottom);

  position: fixed;
  display: block;
  max-width: 468px;
  bottom: calc(var(--safe-area-gap, 0px) + 20px);
  right: 20px;
  z-index: 5000;
  transition: all 0.4s ease;

  & .toast {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 468px;
    transition: all 0.4s ease;
    transform: translate3d(0, 86px, 0);
    opacity: 0;

    & .toast-inner {
      --toast-bg: none;
      --toast-fg: #fff;
      --toast-border-color: #eaeaea;
      box-sizing: border-box;
      border-radius: var(--radius);
      border: 1px solid var(--toast-border-color);
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 24px;
      color: var(--toast-fg);
      background-color: var(--toast-bg);
      height: var(--height);
      transition: all 0.25s ease;

      &.default {
        --toast-fg: #000;
        --toast-bg: #fff;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
      }

      &.success {
        --toast-bg: #0076ff;
        --toast-border-color: var(--toast-bg);
      }

      &.error {
        --toast-bg: #e00;
        --toast-border-color: var(--toast-bg);
      }

      &.warning {
        --toast-bg: #f5a623;
        --toast-border-color: var(--toast-bg);
      }

      &.dark {
        --toast-bg: #000;
        --toast-fg: #fff;
        --toast-border-color: #333;

        & .toast-button {
          --button-fg: #000;
          --button-bg: #fff;
          --button-border: #fff;
          --button-border-hover: #fff;
          --button-fg-hover: #fff;

          &.cancel-button {
            --cancel-button-bg: #000;
            --cancel-button-fg: #888;
            --cancel-button-border: #333;

            &:hover {
              color: #fff;
              border-color: var(--button-border);
            }
          }
        }
      }
    }

    & .toast-text {
      width: 100%;
      height: 100%;
      font-size: 14px;
      margin-top: -1px;
      margin-right: 24px;
      transition: all 0.3s ease-in;
    }

    & .toast-button {
      --button-fg: #000;
      --button-bg: #fff;
      --button-border: #fff;
      --button-border-hover: #fff;
      --button-fg-hover: #fff;
      min-width: auto;
      height: 24px;
      line-height: 22px;
      padding: 0 10px;
      font-size: 14px;
      background-color: var(--button-bg);
      color: var(--button-fg);
      white-space: nowrap;
      user-select: none;
      cursor: pointer;
      vertical-align: middle;
      border-radius: var(--radius);
      outline: none;
      border: 1px solid var(--button-border);
      transition: all 0.2s ease;

      &:hover {
        border-color: var(--button-border-hover);
        background-color: transparent;
        color: var(--button-fg-hover);
      }

      &.cancel-button {
        --cancel-button-bg: #fff;
        --cancel-button-fg: #666;
        --cancel-button-border: #eaeaea;
        margin-right: 10px;
        color: var(--cancel-button-fg);
        border-color: var(--cancel-button-border);
        background-color: var(--cancel-button-bg);

        &:hover {
          --cancel-button-fg: #000;
          --cancel-button-border: #000;
        }
      }
    }

    & .default .toast-button {
      --button-fg: #fff;
      --button-bg: #000;
      --button-border: #000;
      --button-border-hover: #000;
      --button-fg-hover: #000;
    }

    &:after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: calc(100% + 1px);
      width: 100%;
      /* This for destroy the middle toast, still keep `spread` */
      height: 1000px;
      background: transparent;
    }

    &.toast-1 {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }

    &:not(:last-child) {
      --i: calc(var(--index) - 1);
      transform: translate3d(0, calc(1px - (var(--stack-gap) * var(--i))), 0)
        scale(calc(1 - 0.05 * var(--i)));
      opacity: 1;

      & .toast-inner {
        height: var(--front-height);

        & .toast-text {
          opacity: 0;
        }
      }
    }

    &.toast-4 {
      opacity: 0;
    }
  }
}
.chat-toast-contrainer:has(.toast-2):hover {
  bottom: calc(var(--safe-area-gap, 0px) + 30px);
}

@media (max-width: 440px) {
  .chat-toast-contrainer {
    max-width: 90vw;
    right: 5vw;
  }
}
