* {
  padding: 0;
  margin: 0;
  /* border-width: 0 ; */
}

html {
  -webkit-text-size-adjust: none !important;
  /* -ms-touch-action: none !important; */
  /* touch-action: none !important; Prevents user scaling */
}

input::-ms-clear,
input::-ms-reveal {
  display: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none !important;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow-x: auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* -ms-touch-action: none !important; */
  /* touch-action: none !important; */
  -webkit-text-size-adjust: none !important;
}

button {
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

input::placeholder {
  opacity: 0.6;
}
textarea::-webkit-input-placeholder { /* WebKit browsers */
  color: #A9AAAA;
  }
  textarea:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #A9AAAA;
  }
  textarea::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #A9AAAA;
  
  }

  input::-webkit-input-placeholder { /* WebKit browsers */
  color: #A9AAAA;
  }
  input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #A9AAAA;
  
  }
  input::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #A9AAAA;
  
  }

.actions button,
input,
select {
  flex-grow: 1;
}

iframe.ecosdoc {
  /* width: 100%;
  height: 100%;
  border: none; */
}

.ecosdoc-image {
  /* width: 100%; */
  /* height: 100%; */
}

iframe.ecosdoc-text {
}

iframe.ecosdoc-text-title {
}

iframe.ecosdoc-text-body {
}

.fc-col-header,
.fc-timegrid-body,
.fc-timegrid-body table,
.fc-timegrid-body colgroup,
.fc-timegrid-body .fc-timegrid-slot {
  width: 100% !important;
}

video::-webkit-media-controls-fullscreen-button {
  display: none;
}

div.pluginHead,
div.pluginBodyTop,
div.pluginBodyTail {
  position: absolute;
  visibility: hidden;
}

.global {
  z-index: 1500 !important;
}

.page {
  overflow-y: auto !important;
  border: none;
}

.grid-lines {
}

/*
  NOODL COMPONENTS (Currently experimenting)
*/

.scroll-view {
  /* position: absolute !important; */
  /* align-items: flex-start !important; */
  overflow-y: auto !important;
}
.scroll-view::-webkit-scrollbar {
  /* hide scrollBar for scrollView */
  display: none;
}
.text-board {
  /* display: block !important; */
  overflow-y: auto;
}

.popup {
  /* visibility: hidden; */
}

textarea {
  /* Fixed size */
  resize: none;
}

.popup-global {
  border: 1px solid magenta;
  /* position: fixed; */
  /* top: 10%;
  padding: 40px 50px;
  border-radius: 8px;
  background-color: white; */
  z-index: 1000;
  /* width: 400px;
  min-height: 100px; */
  display: none;
  /* left: 50%; */
  /* margin-left: -200px; */
  /* max-height: 80%; */
  box-sizing: border-box;
}

@keyframes spinner-line-fade-more {
  0%,
  100% {
    opacity: 0; /* minimum opacity */
  }
  1% {
    opacity: 1;
  }
}

@keyframes spinner-line-fade-quick {
  0%,
  39%,
  100% {
    opacity: 0.25; /* minimum opacity */
  }
  40% {
    opacity: 1;
  }
}

@keyframes spinner-line-fade-default {
  0%,
  100% {
    opacity: 0.22; /* minimum opacity */
  }
  1% {
    opacity: 1;
  }
}

@keyframes spinner-line-shrink {
  0%,
  25%,
  100% {
    /* minimum scale and opacity */
    transform: scale(0.5);
    opacity: 0.25;
  }
  26% {
    transform: scale(1);
    opacity: 1;
  }
}
