body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  /* overflow-y: hidden; */
  overflow-x: auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

input::placeholder {
  opacity: 0.6;
}

.actions button,
input,
select {
  flex-grow: 1;
}

video::-webkit-media-controls-fullscreen-button {
  display: none;
}

div.pluginHead,
div.pluginBodyTop,
div.pluginBodyTail {
  position: absolute;
  visibility: hidden;
}

.grid-lines {
}

/*
  NOODL COMPONENTS (Currently experimenting)
*/

.scroll-view {
  /* position: absolute !important; */
  align-items: flex-start !important;
  overflow-y: auto !important;
}

.text-board {
  display: block !important;
  overflow-y: auto;
}

.popup {
  /* visibility: hidden; */
}

.popup-global {
  border: 1px solid magenta;
  /* position: fixed; */
  /* top: 10%;
  padding: 40px 50px;
  border-radius: 8px;
  background-color: white; */
  z-index: 1000;
  /* width: 400px;
  min-height: 100px; */
  display: none;
  /* left: 50%; */
  /* margin-left: -200px; */
  /* max-height: 80%; */
  box-sizing: border-box;
}
