body {
  margin: auto;
  padding: 0;
  width: 100%;
  height: 100%;
  /* overflow-y: hidden; */
  overflow-x: auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

input::placeholder {
  opacity: 0.6;
}

.actions button,
input,
select {
  flex-grow: 1;
}

video::-webkit-media-controls-fullscreen-button {
  display: none;
}

div.pluginHead,
div.pluginBodyTop,
div.pluginBodyTail {
  position: absolute;
  visibility: hidden;
}

/*
  NOODL COMPONENTS (Currently experimenting as of 03/04/21)
*/

.scroll-view {
  overflow-y: auto;
  /* position: absolute !important; */
}

.scroll-view > * {
  position: relative !important;
}

.scroll-view > :not('div') {
  /* height: 100% !important; */
  /* overflow-y: hidden; */
  /* position: relative; */
}

.scroll-view div {
}

.scroll-view button {
  /* position: relative !important; */
}

.text-board {
  height: 100% !important;
}
